html {
  width: 100%;
  height: 100%;
  background: url("../images/green-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 62.5%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  html header, html body, html main, html div, html section, html input, html button, html footer, html p {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  html body {
    text-align: center; }
    html body > header {
      font-size: 2rem;
      text-align: center;
      color: #212121;
      font-style: italic;
      text-decoration: underline; }
    html body main {
      width: 45%;
      height: auto;
      margin: 0 auto; }
      html body main .todo-list {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: #212121;
        background-color: rgba(33, 33, 33, 0.5);
        padding: 5px; }
        html body main .todo-list > header {
          color: #212121;
          font-size: 3.2rem;
          margin-bottom: 5%; }
        html body main .todo-list > div > section {
          background-color: rgba(53, 53, 53, 0.7);
          border: 1px solid #d2d2d2;
          border-radius: 5px;
          width: 65%;
          margin: 0 auto 2% auto;
          padding: 1% 2%; }
          html body main .todo-list > div > section header {
            text-align: right;
            margin-bottom: 3%; }
            html body main .todo-list > div > section header p {
              font-size: 2rem;
              font-style: italic;
              color: #b4b4b4; }
          html body main .todo-list > div > section div div {
            text-align: left;
            border-bottom: 1px solid #212121;
            padding: 4px; }
            html body main .todo-list > div > section div div input[type="checkbox"] {
              width: 10px;
              height: 10px;
              margin-right: 4px;
              outline: none;
              border: 1px solid #b4b4b4; }
              html body main .todo-list > div > section div div input[type="checkbox"]:active, html body main .todo-list > div > section div div input[type="checkbox"]:focus {
                outline: none;
                border: none; }
            html body main .todo-list > div > section div div label {
              font-size: 2rem;
              display: inline-block;
              width: 96%; }
          html body main .todo-list > div > section footer {
            height: 25px;
            margin-top: 10px; }
            html body main .todo-list > div > section footer div button {
              float: right;
              width: 25px;
              height: 25px;
              border-radius: 4px;
              outline: none;
              border: none;
              padding: 2px;
              font-size: 1.5rem;
              box-shadow: 3px 3px 3px #141414; }
              html body main .todo-list > div > section footer div button:active {
                position: relative;
                top: 2px; }
              html body main .todo-list > div > section footer div button:active, html body main .todo-list > div > section footer div button:focus {
                outline: none;
                border: none; }
              html body main .todo-list > div > section footer div button:hover {
                cursor: pointer;
                background-color: #051c00;
                color: #a8d838; }
            html body main .todo-list > div > section footer div input[type='text'] {
              float: right;
              width: 80px;
              height: 25px;
              margin-right: 5px;
              outline: none;
              border-radius: 2px;
              border: 1px solid #b4b4b4;
              padding: 2px; }
        html body main .todo-list > footer div input[type='text'] {
          height: 25px;
          outline: none;
          border-radius: 2px;
          border: 1px solid #b4b4b4;
          padding: 2px;
          margin-right: 5px;
          font-size: 1.5rem; }
        html body main .todo-list > footer div button {
          height: 25px;
          outline: none;
          border-radius: 2px;
          border: none;
          padding: 2px;
          font-size: 1.5rem;
          box-shadow: 3px 3px 3px #141414; }
          html body main .todo-list > footer div button:active {
            position: relative;
            top: 2px; }
          html body main .todo-list > footer div button:active, html body main .todo-list > footer div button:focus {
            outline: none;
            border: none; }
          html body main .todo-list > footer div button:hover {
            cursor: pointer;
            background-color: #051c00;
            color: #a8d838; }
      html body main .checked {
        background-color: rgba(5, 28, 0, 0.5);
        border-radius: 5px; }
